<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="bg-slate-900 text-white min-h-screen w-full">
        <form class="p-10 flex flex-wrap gap-4" action="/loginacc" method="post">
           
            <input class="p-2 bg-transparent border border-gray-600 rounded-md" type="text" name="email" id="" placeholder="Email">
            <input class="p-2 bg-transparent border border-gray-600 rounded-md" type="text" name="password" id="" placeholder="Password">

            <input class="bg-blue-700 px-3 rounded-md" type="submit" value="Login">

        </form>
    </div>
</body>
</html>